body{
	width: 100vw;
  height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'Cutive Mono', monospace;
	user-select: none;
	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
	transition: all .3s ease-in-out;
}
#clock{
	font-size: 60px;
	color: #fff;
	margin: auto;
}
